<div class="footer">
  <footer class="page-footer" id="footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Site Map</h5>
                  <ul>
                    <li><a routerLink=''>Home</a>
                    </li>
                    <li><a routerLink="about">About Me</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                                
                  </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a href="https://twitter.com/Danisboss"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>

                    <li><a href="https://github.com/DanJacobCodes"><i class="fa fa-github"></i></a>
                    </li>

                    <li><a href="mailto:dansamueljacob@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    </li>

                    <li><a href="https://www.linkedin.com/in/dansamueljacob/"><i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">© 2017 <a href="dansamueljacob.com">
              DanSamuelJacob.com</a>
              </div>
            </div>
          </footer>
</div>