<div class="container">
	<h2>About Me</h2>
		<p>
		As you can probably tell by now, my name is Dan Jacob, I'm an aspiring web/mobile developer and designer. My passions in technology is driven by simple and effective design. My goal is to be apart of a team that builds web and or mobile applications that provide some kind of utility to everyday life: whether that be with health, finance, mindfulness, business, etc. I believe tech should make our lives easier so we can focus on other things. 
		</p>

		<p>I've always had an interest in technology for as long as I can remember. Growing up in this era has given be a glimpse into the pace of tech and how it continues to shape our lives. I was always interested in the business aspect, how entrepreneurs could envision an idea, bring it to mass market, and make real change. It wasn't until my third semester of college that I decided to give programming a real shot, I was introduced to C++. I never felt so challenged, but I wanted to continue my pursuit. I enrolled at a programming boot camp called Epicodus, hopped on a plane to Seattle, and for 6 months soaked up as much as I could. It was without a doubt, the biggest risk I've taken. During my time there, I learned to program in pairs, individually, and in small teams to design and build web applications.
		</p>
		<p>
		 Perhaps the most exciting thing about that trip was my last month, where I intered at a 5 person startup with a few of my cohort members, called <a href="https://re-ally.com/">Leasera</a> (formerly RE-Ally). Getting an inside glimpse to how a startup functions and builds with just a few people was an experience I will cherish. I was tasked with unit testing (RSpec) and taking design templates to work with their back-end logic (Rails), as well as making sure the front end design was implemented correctly (JavaScript/jQuery). Touching an existing code base and having a feature I was assigned to complete that would be used immediately on their application was definitely nervewracking but I hope to pick up where I left off.
		 </p>  
	<h2>About the Website</h2>
		<p>This website was built using Angular 2 and follows the Materialize design library for styling. Instead of purchasing a template, I hoped to use this website to reflect my love for simple and effective design, undertake the challenge of building and maintaining something from scratch in order to continue and develop my skills.</p>
		<p>Each page is actually a component, along with the footer, and navigation is done through an Angular router, very customary stuff. </p>

<!-- 		<app-pdf></app-pdf>
 -->		
<!-- 

	<div class="col-md-9">
		<ul class="collapsible" data-collapsible="accordion">
	  <li>
	    <div class="collapsible-header">
	      <i class="fa fa-envelope-o" > dansamueljacob@gmail.com</i>
	    </div>
	    <div class="collapsible-header">
	      <i class="fa fa-github" ><a href="https://github.com/DanJacobCodes">Github</a></i>
	    </div>
	    <div class="collapsible-header">
	      <i class="fa fa-linkedin" ><a href="https://www.linkedin.com/in/dansamueljacob/">LinkedIn</a></i>
	    </div>
	    <div class="collapsible-header">
	      <i class="fa fa-twitter" ><a href="https://twitter.com/Danisboss">Twitter</a></i>
	    </div>
	  </li>
	</ul>
		
	</div> -->

</div>