<div class="container">
	<h2 style="text-align: center; display: inline-block;">About</h2>
	<h4 id="aboutText">
		This website was build entirely using Angular, following the Materialize Design framework for styling. 
		<br>
		Instead of using a stylish template, I wanted to undertake the challenge of building this website from scratch. Moving forward this website will serve as a repository for projects I'm currently working on or have worked on, some random blurbs, helpful links, and anything else in between.
		<br>
		This web page is also connected to FireBase, I'll use it to store contact information, projects, blogs, and more. Feel free to send me an email or connect with me on LinkedIn! 
	</h4>

	<div class="col-md-9">
		<ul class="collapsible" data-collapsible="accordion">
	  <li>
	    <div class="collapsible-header">
	      <i class="fa fa-envelope-o" > dansamueljacob@gmail.com</i>
	    </div>
	    <div class="collapsible-header">
	      <i class="fa fa-github" ><a href="https://github.com/DanJacobCodes">Github</a></i>
	    </div>
	    <div class="collapsible-header">
	      <i class="fa fa-linkedin" ><a href="https://www.linkedin.com/in/dansamueljacob/">LinkedIn</a></i>
	    </div>
	    <div class="collapsible-header">
	      <i class="fa fa-twitter" ><a href="https://twitter.com/Danisboss">Twitter</a></i>
	    </div>
	  </li>
	</ul>
		
	</div>
</div>