<div class="container">
<div style="text-align:center">
    <h2 id="title">Philadelphia Brethren Assembly</h2>
    <h4 style="text-align: center;">eContact</h4>
    <hr>
</div>


<h1>Ministry Contact Info</h1>
    <p></p>
    <hr>
    
<div class="row">
    <table class="responsive-table centered bordered">
        <thead>
      <tr>
        <th class="tableHeader">Name</th>
        <th class="tableHeader">Ministry Role</th> 
        <th class="tableHeader">Office Role</th>
        <th class="tableHeader">Cell </th>
        <th class="tableHeader">E-Mail</th>
      </tr>
        </thead>
      <br>
      <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
      <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
      <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
        <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
      <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
      <br>
      <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
      <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
      <tr>
        <td class="Skill">Appapa</td>
        <td class="Experience"> Elder </td> 
        <td class="Blank">Treasurer</td>
        <td>(215)555-555</td>
        <td>Appapa@appapa.com</td>
      </tr>
    
    </table>

    <div class="row">
         

    <div style="text-align: center;">
        <p>
        </p>
            </div>
        </div>    
    </div>
</div>