<div class="container">
<div style="text-align:center">
    <h2 id="title">Dan Jacob</h2>
    <h4 style="text-align: center;">Web Developer &bull; Designer</h4>
    <hr>
</div>


<h1>Hello World</h1>
    <p>I'm Dan Jacob, I'm an aspiring Web Developer and UX/UI Designer! My journey to programming has been anything but linear, from pursuing a degree in Business to dropping it all to join a programming boot camp in Seattle, called Epicodus! I was inspired to make the change to development afer taking an Intro to C++ Programming class in college - as someone who has followed the tech industry closely, I decided I wanted to get my hands dirty. Over the course of a year, I've worked in pairs, groups, and individually to build dynamic web applications using a variety of languages and frameworks within agile working environments.</p>
    <hr>
    
<div class="row">
    <h3>Skill Set</h3>
    <table class="responsive-table centered bordered">
        <thead>
      <tr>
        <th class="tableHeader">Skill</th>
        <th class="tableHeader">Experience</th> 
        <th class="tableHeader">Proficiency</th>
      </tr>
        </thead>
      <br>
      <i class="fa fa-code" aria-hidden="true"></i>
      <tr>
        <td class="Skill">JavaScript</td>
        <td class="Experience"> < 1 </td> 
        <td class="Blank">Intermediate</td>
      </tr>
      <tr>
        <td class="Skill">Ruby</td>
        <td class="Experience">< 1 </td> 
        <td>Intermediate</td>
      </tr>
      <tr>
        <td class="Skill">TypeScript</td>
        <td class="Experience">< 1 </td> 
        <td>Intermediate</td>
      </tr>
         <tr>
        <td class="Skill">CSS</td>
        <td class="Experience"> 1+ </td> 
        <td>Intermediate</td>
      </tr>
         <tr>
        <td class="Skill">HTML</td>
        <td class="Experience"> 1 + </td> 
        <td>Intermediate</td>
      </tr>
      <br>
      <i class="fa fa-wrench" aria-hidden="true"></i>
         <tr>
        <td class="Skill">Git</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>
         <tr>
        <td class="Skill">Angular(2)</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>
         <tr>
        <td class="Skill">Rails</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>
      <tr>
        <td class="Skill">Sinatra</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>
      <tr>
        <td class="Skill">Node</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>
      <br>
      <i class="fa fa-database" aria-hidden="true"></i>
      <tr>
        <td class="Skill">PostgreSQL</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>
       <tr>
        <td class="Skill">MySQL</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>
       <tr>
        <td class="Skill">Firebase</td>
        <td class="Experience"><1</td> 
        <td>Intermediate</td>
      </tr>

    </table>

    <div class="row">
         

    <div style="text-align: center;">
        <p>Building upon my exisiting skill set is imperative to my growth as a developer. I've thoroughly enjoyed working in frameworks such as Angular and Rails, but it is a priority to me to become more well rounded. Through programming with web technologies, I've come to understand concepts that have been used for many years. Althought I may not have a traditional CS background, I've made sure to understand computing as a science. With tech being such a broad and layered field it can be pretty overwhelming to pick exactly what to do. I love the designing aspect of development, but I also love trying to tackle technical problems. I hope to be in a role that allows me to work with developers and engineers, but also designers to build applications that are useful, engaging, technically sound, and exceptionally good to look at. Ultimately, I believe the purpose of technology is to make our lives easier. Please feel free to reach out to me if you'd like to talk!
        </p>
            </div>
        </div>    
    </div>
</div>